@import "../../styles/vars.scss";

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $color-neutral-light;

    &.safe {
        background-color: $color-green-light;
    }
    &.euclid {
        background-color: $color-yellow-light;
    }
    &.keter {
        background-color: $color-red-light;
    }
}

.primaryLabel,
.primaryClass,
.secondaryLabel,
.secondaryClass {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.icon {
    display: block;
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: contain;

    &.euclid {
        background-color: $color-yellow;
    }
}