$color-yellow: #F8D448;
$color-yellow-light: lighten(#F8D448, 25);
$color-green: #469C6F;
$color-green-light: lighten(#469C6F, 25);
$color-blue: #3986B8;
$color-blue-light: lighten(#3986B8, 25);
$color-red: #B42638;
$color-red-light: lighten(#B42638, 25);
$color-amber: #EE752F;
$color-amber-light: lighten(#EE752F, 25);
$color-neutral: #0C0C0C;
$color-neutral-light: lighten(#0C0C0C, 25);